html {
	/*cursor:url('/assets/cursor1.png'),auto;*/
	cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:40px;'><text y='80%'>🔍</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

body {
	color: #676767;
	background-color: black;
	font-family: lexia-mono,serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.3em;
	padding: 0.5vw;
}


.container {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	/*border: solid red;*/
	margin-top: 6%;
	gap: 6vw;
}

.row1, .row2 {
	display: flex;
	flex-direction: row;
	/*border: solid blue;*/
	justify-content: space-evenly;
}

.item {
	/*border: solid white;*/
	display: block;
	width: 250px;
	/*white-space: pre;*/

}

img {
	padding-top: 2vw;
	opacity: 50%;
}

a {
	color: white;
}

.enter {
	/*border: solid green;*/
	text-align: center;
	padding-top: 6vw;
}

/*SPAN ANIMATIONS*/

.w, .t1, .b1, .f1, .b3 {
  	color: #2F2F2F;
    animation: color-change 2s infinite;
    animation-timing-function: steps(3, jump-none);
}

@keyframes color-change {
  0% { color: #F25D5A; }
  50% { color: #79C362; }
  100% { color: #F79563; }
}

.e1, .o2, .r1, .b2 {
  	color: #2F2F2F;
    animation: color-change2 2s infinite;
    animation-timing-function: steps(3, jump-none);
}

@keyframes color-change2 {
  0% { color: #79C362; }
  50% { color: #F79563; }
  100% { color: #E17CC0; }
}

.l1, .t2, .a1, .a2 {
  	color: #2F2F2F;
    animation: color-change3 2s infinite;
    animation-timing-function: steps(3, jump-none);
}

@keyframes color-change3 {
  0% { color: #F79563; }
  50% { color: #E17CC0; }
  100% { color: #FFEB74; }
}

.c1, .h1, .r2, .e4 {
  	color: #2F2F2F;
    animation: color-change4 2s infinite;
    animation-timing-function: steps(3, jump-none);
}

@keyframes color-change4 {
  0% { color: #E17CC0; }
  50% { color: #FFEB74; }
  100% { color: #3FA0FF; }
}

.o1, .e3, .y1, .l3 {
  	color: #2F2F2F;
    animation: color-change5 2s infinite;
    animation-timing-function: steps(3, jump-none);
}

@keyframes color-change5 {
  0% { color: #FFEB74; }
  50% { color: #3FA0FF; }
  100% { color: #8653BA; }
}

.m1, .l2, .per {
  	color: #2F2F2F;
    animation: color-change6 2s infinite;
    animation-timing-function: steps(3, jump-none);
}

@keyframes color-change6 {
  0% { color: #3FA0FF; }
  50% { color: #8653BA; }
  100% { color: #F25D5A; }
}

.e2, .i1 {
  	color: #2F2F2F;
    animation: color-change7 2s infinite;
    animation-timing-function: steps(3, jump-none);
}

@keyframes color-change7 {
  0% { color: #8653BA; }
  50% { color: #F25D5A; }
  100% { color: #79C362; }
}

/*MEDIA QUERIES*/

@media (max-width: 1110px) {

	body {
	padding-top: 1vw;
	}
	
	.container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
	/*border: solid red;*/
	margin-top: 5%;
	gap: 2vw;
}

	.row1, .row2 {
	display: flex;
	flex-direction: column;
	/*border: solid yellow;*/
	justify-content: space-between;
	gap: 2vw;
}

	.item {
	/*border: solid white;*/
	display: block;
	width: 250px;
	/*white-space: pre;*/

}
}

@media (max-width: 750px) {

	body {
		padding-top: 15vw;
		font-size: 1em;
	}
	
	.container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
	/*border: solid red;*/
	gap: 0.5vw;
}

	.row1, .row2 {
	display: flex;
	flex-direction: column;
	/*border: solid yellow;*/
	justify-content: space-between;
	gap: 10vw;
}

	.item {
	/*border: solid white;*/
	display: block;
	width: 200px;
	/*white-space: pre;*/

}
}

@media (max-width: 390px) {

	body {
		text-align: center;
		padding: 10vw;
		font-size: 1.3em;
	}
	
	.container {
	padding-top: 10vw;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 70%;
	gap: 50vw;
	margin: auto;
}

	.row1, .row2 {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 30vw;
}

.mobile-rules, .mob1, .mob2, .mob3, .mob4 {
	display: inline-block;
}

	.item {
	/*border: solid white;*/
	display: block;
	width: 200px;
}

.enter, .item3, .item5, .item6, .item7 {
	display: none;
}

.mobile {
	margin-top: 30vw;
	width: 160px;
	background-color: white;
	color: black;
	padding: 15px;
	text-align: center;
	display: inline-block;
	border: none;
	border-radius: 50px;
}


a {
	color: black;
	text-decoration: none;
}
}
